* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #262228;
    color: #dfdce3;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: #262228;
}

body::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 20px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 64px;
}

h2 {
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
}

p,
a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #dfdce3;
}


#section1 {
    padding: 50px 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 75px;
    padding-bottom: 100px;
}

.imageGame {
    width: 200px;
    height: 252px;
}

.btnplay {
    background-color: #0069c1;
    color: #dfdce3;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #0069c1;
    border-radius: 3%;
}

:hover.btnplay {
    background-color: #dfdce3;
    border: 1px solid #dfdce3;
    color: #0069c1;
}

.btnXbox {
    background-color: #9bc848;
    color: #dfdce3;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #9bc848;
    border-radius: 3%;
}

:hover.btnXbox {
    background-color: #dfdce3;
    border: 1px solid #dfdce3;
    color: #9bc848;
}

#section2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid;
    padding: 50px;
}

.sinopseH2 {
    padding-bottom: 20px;
}

#section3 {
    border-top: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}

.imgPlaySection3 {
    height: 321px;
}

:hover.imgPlaySection3 {
    height: 330px;
    border: 3px solid #0069c1;
}

.imgXboxSection3 {
    height: 321px;
}

:hover.imgXboxSection3 {
    height: 330px;
    border: 3px solid #9bc848;
}

#rodape {
    background-color: #1a171b;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}